a{
    text-decoration: none;
}
ul{
    list-style:none;
}
.card{
    margin-left:50px;
    width:400px;
    margin-right:50px;
}
img{
    width:300px;
}
.carousel {
    
    height: 500px; 
      
      
  }
  .payment{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}